/*LAS PSEUDOCLASES NOS PERMITEN SELECCIONAR UN ESTADO ESPECIFICO DE UN ELEMENTO*/


h1 {
    color: #48e;
    font-family: sans-serif;
    margin: 30px;
    letter-spacing: 2px;
}


/*h1:hover {
ESTA PSEUDO CLASE QUE ESTA REPRESENTADA POR LA PALABRA RESERVADA HOVER LE DA UN ESTILO DETERMINADO AL ELEMENTO CUANDO SE PASA EL MOUSE POR ENCIMA DEL MISMO, ESTA ES LA PSEUDOCLASE MAS UTILIZADA
color: black;
background-color: beige;

}*/

h1:active {
    /*LA PSEUDOCLASE ACTIVE NOS PERMITE MODIFICAR EL ESTILO DE UN ELEMENTO CUANDO SE LE DA CLICK DERECHO O IZQUIERDO CON EL MOUSE*/
    background-color: aqua;
    color: red;
}

/*SELECCIONANDO EL PRIMER LI CON LA PSEUDOCLASE FIRST-CHILD*/

li:first-child {
    color: red;
}



/*SI QUISIERAMOS SELECCIONAR UN ELEMENTO EN PARTICULAR SE DEBE HACER CON LA PSEUDOCLASE NTH-CHILD(NRO DE ELEMENTO) , NTH SIGNIFICA ENESIMO Y ENTRE PARENTESIS LE PASAMOS EL NRO DE ELEMENTO QUE QUERAMOS MODIFICAR */

/*TAMBIEN SE PUEDE MODIFICAR TODOS LOS ELEMENTOS PASANDO POR PARAMETRO (1n) ESTO QUIERE DECIR QUE CADA 1 ELEMENTO SE VA A MODIFICAR EL MISMO.
Y UN ELEMENTO SI Y OTRO NO PASANDOLE COMO PARAMETRO (2n) PORQUE ESTO SIGNIFICA QUE CADA 2 ELEMENTOS 1 SE VA A MODIFICAR, SI LE PASARAMOS 3n SE MODIFICARIA 1 CADA 3 Y ASI SUCESIVAMENTE*/

li:nth-child(2n) {
    color: rgb(43, 226, 58);
}




/*SELECCIONANDO EL ULTIMO LI CON LAST-CHILD*/

li:last-child {
    color: blue;
}


/*SI TUVIESEMOS UN ELEMENTO DE UN TIPO DIFERENTE DENTRO DE NUESTRA LISTA, ESTE NOS AFECTARIA EL ORDEN YA QUE OCUPARIA UNA POSICION PERO NO SE MODIFICARIA SI POR EJEMPLO LE DAMOS UNA PSEUDOCLASE NTH-CHILD(1n).PARA ESO HAY UNA PSEUDOCLASE ESPECIAL LLAMADA "NTH-OF-TYPE(nro de elemento) QUE BUSCA TODOS LOS ELEMENTOS IGUALES Y DESCARTA LOS QUE SEAN DIFERENTES PARA QUE NO INTERFIERAN EN LAS POSICIONES"*/

li:nth-of-type(2n){
    color: #48e; 
}

/*SI LO QUE QUEREMOS ES OBVIAR UN ELEMENTO EN PARTICULAR  DE UNA LISTA CON UNA CLASE ESPECIFICA PARA QUE ESE ELEMENTO O ELEMENTOS NO SE MODIFIQUEN CUANDO LE DAMOS PROPIEDADES A ESA LISTA DEBEREMOS USAR EL :not(clase del elemento).
DE ESTA MANERA AL IDENTIFICAR ESOS ELEMENTOS Y NEGARLOS , NO SE TENDRAN EN CUENTA PARA LAS PROPIEDADES QUE LE ESTEMOS DANDO A ESA LISTA*/


.lista li:not(.excluidos){
    color: red;
}



/*SI QUEREMOS DARLE UN ESTILO O PROPIEDADES A UN ELEMENTO SOLO CUANDO ESTE ESTA VACIO , SE USA LA PSEUDOCLASE ":empty" Y DE ESTA MANERA SE APLICARAN LOS CAMBIOS SOLO A LOS ELEMENTOS VACIOS.*/

div:empty{
    background-color: #0f0;
    padding: 30px;
}

/*TAMBIEN TENEMOS LA PSEUDOCLASE ":checked" QUE SE USA POR EJEMPLO CUANDO TENEMOS UN CHECKBOX Y QUEREMOS DARLE UN ESTILO O PROPIEDADES ESPECIFICAS CUANDO ESTE CHECKEADO Y CUANDO NO ESTE CHECKEADO  TENGA OTRO ESTILO DIFERENTE*/

input[type="checkbox"]{
    margin: 50px;
    
}

input[type="checkbox"]:checked{
    margin: 0;
}

/*MODIFICANDO ENLACES SEGUN SI FUERON VISITADOS O NO*/

a:link {
    color: red; /*NO VISITADO*/
}

a:visited {
    color:blue; /*VISITADO*/
}

/*IMPORTANTE !! :AL PARECER SI COPIAMOS Y PEGAMOS LA RUTA DE UN ENLACE QUE HAYAMOS ABIERTO AUN EN OTRO NAVEGADOR, EL ENLACE NOS APARECERA COMO VISITADO. HAY QUE ESCRIBIR LA RUTA SIN VISITAR EL SITIO*/

/*HAY MUCHAS PSEUDOCLASES, OTRA QUE TAMBIEN SE USA ES VALID O INVALID PARA CORROBORAR UN DATO DENTRO DE UN INPUT*/

input[type="email"]:valid {
    color: rgb(12, 240, 12);

}

input[type="email"]:invalid {
    color: red;

}





