/*TODOS LOS ELEMENTOS TIENEN UN VALOR POR DEFECTO POSITION =STATIC POR LO TANTO NO PODEMOS DARLE UNA POSICION O MODIFICARLE EL POSICIONAMIENTO EN LA PAGINA, PARA ESO ESTA EL VALOR RELATIVE*/
/*EL VALOR POSITION=RELATIVE PERMITE QUE PODAMOS MOVER EL ELEMENTO POR LA PAGINA Y A SU VEZ QUE ESTE ELEMENTO SEA UN PUNTO DE REFERENCIA PARA LOS ELEMENTOS QUE CONTENGA.
MEDIANTE LAS PROPIEDADES TOP (tiene prioridad sobre bottom), BOTTOM , LEFT(PRIORIDAD SOBRE RIGHT) Y RIGHT PODEMOS DARLE VALORES PARA QUE EL ELEMENTO SE POSICIONE EN LA PAGINA, ESTOS VALORES LO DESPLAZARAN DE SU POSICION ORIGINAL
SI ESTAN DEFINIDAS TOP Y LEFT, LOS VALORES QUE LE DEMOS A BOTTOM Y RIGHT NO SERAN TOMADOS EN CUENTA POR EL NAVEGADOR*/

.box{
    width: 100px;
    height: 100px;
    background-color:orange;
    color: #fff;
    position: relative;
    z-index: 10;
}

.box--orange{
top: 100px;
left: 70px;
z-index: 22;/*ESTO HARA QUE SE POSICIONE SOBRE LA CAJA 2 PERO SEGUIRA DETRAS DE LA CAJA 3*/

}
.box--blue{
    background-color: blue;
    top: 70px;/*esto nos desplaza 50px de la
    posicion original del  elemento */
    left: 40px;/*esto nos desplaza 100px del borde izquierdo de la posicion original del elemento*/
    z-index: 20;
}

.box--green{
    background-color: green;
z-index: 30;
}

/*EN UNA PAGINA TENEMOS TRES EJES DONDE SE MUEVEN Y SE POSICIONAN LOS ELEMENTOS. X ES EL EJE HORIZONTAL, Y ES EL EJE VERTICAL Y  Z ES EL EJE QUE LE DA LA TRIDIMENSIONALIDAD. 
CUANDO VAMOS CREANDO ELEMENTOS ESTOS SE VAN SUPERPONIENDO EN EL EJE Z , O SEA CADA ELEMENTO VA SUPERPONIENDO AL OTRO Y CUANDO LE DEMOS POSICIONAMIENTO CON LA PROPIEDAD POSITION DEPENDERA DE EL ORDEN DE CREACION DE LOS ELEMENTOS PARA QUE ESTOS QUEDEN SOBRE O DETRAS DE OTRO ELEMENTO. QUEDARA SOBRE OTRO ELEMENTO CUANDO ESTE SE HAYA CREADO ANTES SINO QUEDARA DETRAS(VER PAGINA DE EJEMPLO)
SI QUISIERAMOS DARLE UNA CARDINALIDAD EN EL EJE Z A UN ELEMENTO PARA QUE QUEDE SOBRE OTRO ELEMENTO DEBEREMOS USAR LA PROPIEDAD Z-INDEX Y DARLE UN VALOR*/