div {
    padding: 20px;
}

/*LOS PSEUDOELEMENTOS SON PARTES DE LOS ELEMENTOS EN SI.
SE ACCEDE A ELLOS PONIENDO EL NOMBRE DEL ELEMENTO Y ::*/

/*ESTE PSEUDOELEMENTO MODIFICA LA PRIMERA LETRA*/
h1::first-letter{
    color: red;
    font-size: 3em;
    letter-spacing: -8px;
}
/*ESTE PSEUDOELEMENTO MODIFICA LA PRIMERA LINEA*/
div::first-line{
    color: red;
    font-weight: bold;
}

/*ESTE MODIFICA EL ELEMENTO CUANDO ES SELECCIONADO CON EL MOUSE, DEL COLOR ORIGINAL AZUL PASAMOS A UN ROJO*/

div::selection{
    background-color: red;
    color: white;
}

/*EL PLACEHOLDER ES UNA PARTE DE LOS ELEMENTOS , POR LO TANTO ES UN PSEUDOELEMENTO, POR ENDE LO PODEMOS MODIFICAR , EN ESTE CASO CAMBIANDOLE EL COLOR*/
input::placeholder{
    color: green;

}

/*EL PSEUDOELEMENTO MARKER MODIFICA EL ESTILO DE LOS MARCADORES(LOS CIRCULITOS CHIQUITOS)QUE ESTAN ANTES DE LOS LI(LIST ITEM) EN UNA LISTA DESORDENADA(UL)*/

li::marker{
    color: red;
}

/*TAMBIEN TENEMOS EL ::BEFORE QUE NOS PERMITE ESTABLECER UN TEXTO ANTES DEL ELEMENTO LI, TAMBIEN PODEMOS DARLE UN ESTILO DIFERENTE A ESE TEXTO*/

li::before{
    content: 'li::before : ';
    color: blue;
}

/*OBVIAMENTE TENEMOS EL ELEMENTO AFTER QUE NOS PERMITE ESTABLECER UN TEXTO, DESPUES DEL ELEMENTO DENTRO DEL LI*/

li::after{
    content: '  li::after';
    color: rgb(71, 136, 6);
}



