
/*SELECCTORES POR ATRIBUTO : ES CUANDO A UN ELEMENTO QUE CONTIENE CIERTO ATRIBUTO LE DAMOS UN VALOR ESPECIFICO.

elemento[atributo=valor del atributo]{estilo}
EJ: AL PONER EL SIMBOLO DE PESO LUEGO DEL SRC LE INDICAMOS QUE A LAS IMAGENES QUE TERMINEN EN PNG VAN A TENER UN ANCHO DEL 100% */

/*img[src$="png"]{
    width: 100%;
} */

/*SI PUSIERAMOS EL CIRCUNFLEJO (^) ESTO NOS INDICARIA QUE LAS IMAGENES QUE EMPIECEN CON EL VALOR QUE LE DEMOS VAN A TENER UN ANCHO DEL 50%*/


img[src^="napo"]{
    width: 50%;
}




/*SELECTORES DESCENDIENTES:
ES CUANDO LE DAMOS UN ESTILO A UN ELEMENTO QUE ESTE DENTRO DE OTRO, LO QUE DEBEMOS HACER ES PONER PRIMERO EL ELEMENTO QUE CONTIENE AL ELEMENTO A ESTILIZAR Y LUEGO EL ELEMENTO EN CUESTION:
EJ :
  elemento-contenedor elemento-a-modificar {
    propiedad
  }
*/

ul  li {
    color: red;
}

/*SI  QUISIERAMOS MODIFICAR UN ELEMENTO SOLO SI ES HIJO DIRECTO DE OTRO , O SEA QUE NO ESTA CONTENIDO EN NINGUN OTRO,
DEBERIA PONER NOMBRE-ELEMENTO-PADRE ">" NOMBRE-ELEMENTO A MODIFICAR {}.
TAMBIEN SI QUISIERAMOS MODIFICAR UN ELEMENTO QUE ESTA DENTRO DE UN ELEMENTO QUE ESTA DENTRO DE OTRO SERIA X > Y > Z {modificacion a Z}*/

li > strong {
    color: blue;
}

/*SELECTORES  DE HERMANOS ADYANCENTES : ES CUANDO LE DAMOS UNA PROPIEDAD AL  PRIMER ELEMENTO X QUE ESTA A CONTINUACION DE UN ELEMENTO Y , PARA ELLO PONEMOS ELEMENTO QUE ESTA PRIMERO + ELEMENTO A CONTINUACION {}*/

h1 + p {
    color:#16c44a;
}

/*SELECTOR DE HERMANOS GENERALES : ES CUANDO LE DAMOS UNA PROPIEDAD A TODOS LOS ELEMENTOS X  QUE ESTEN A CONTINUACION DE UN ELEMENTO Y Y NO SOLO AL PRIMERO ALT + 126*/

h2 ~ p {

    color: blueviolet;
}


/*TAMBIEN PODEMOS DARLE ESTILO A UN ELEMENTO Z QUE ESTE A CONTINUACION DE UN ELEMENTO Y QUE ESTE A CONTINUACION DE UN ELEMENTO X*/

h2 + p + .segundo_parrafo {

    color: chocolate;
}

/*EN ESTE CASO LE DIMOS PROPIEDADES AL PRIMER ELEMENTO "SEGUNDO PARRAFO" QUE SE ENCUENTRA DESPUES DE UN "P" QUE SE ENCUENTRA INMEDIATAMENTE DESPUES DEL "H2"  POR ESO EL OTRO ELEMENTO SEGUNDO PARRAFO NO SE MODIFICO EN SU ESTILO */









