body {
    margin: 0;
    font-family:sans-serif;
    padding: 20px;
}

* {
    box-sizing: border-box;
}
.box {
    
    background-color: #48e;
    display: grid;
    place-content: center;
    color: #fff;
    margin: 120px auto;
    font-size: 30px;
    padding: 0 40px;
    width: min(900px,100%);/*ESTA FUNCION ELEGIRA SIEMPRE EL VALOR MAS PEQUEÑO Y DEPENDE DE LA RESOLUCION DE LA PANTALLA SE QUEDARA CON ESE VALOR(EJ. EN ESTE CASO SI LA PANTALLA SE ACHICASE MENOS DE 900PX ELEGIRA OCUPAR EL 100% DEL ANCHO DE LA PANTALLA, SINO OCUPARA 900PX)*/
    width: max(900px,100%);/*USANDO LA FUNCION MAX() SIEMPRE VA A ELEGIR EL VALOR MAYOR DE LOS PARAMETROS QUE LE PASEMOS, Y SI LA PANTALLA SE ACHICA SE QUEDARA CON ESE VALOR, SI LA PANTALLA SE AGRANDA ELEGIRA EL OTRO. EN ESTE CASO CUANCO LA PANTALLA MIDA MAS DE 900PX ELEGIRA OCUPAR EL 100% CUANDO MIDA MENOS DE 900PX EL ELEMENTO SEGUIRA MIDIENDO 900PX*/

    width: clamp(900px,100%,1400px);/*CON LA FUNCION CLAMP LE PASAMOS TRES VALORES, EL PRIMERO VA A SER EL MINIMO(SI LA RESOLUCION BAJA DE 900PX ESA SERA LA MEDIDA QUE ADOPTARA EL ELEMENTO), EL SEGUNDO SERA EL VALOR IDEAL(EN ESTE CASO SI LA PANTALLA TIENE MAS DE 800PX OCUPARA EL 100%) Y EL TERCER PARAMETRO ES EL MAXIMO(SI EL TAMAÑO DE LA PANTALLA AUMENTA MAS DE 1400PX, EL TAMAÑO DEL ELEMENTO SERA COMO MAXIMO DE 1400PX )*/
    border: 6px solid black;
    font-size: clamp(2.4rem,2.2vw,4rem);/*TAMBIEN SE PUEDE USAR EL CLAMP PARA HACER QUE EL TEXTO O TAMAÑO DE FUENTE SE ADAPTE A LAS DISTINTAS RESOLUCIONES, SIENDO EL PRIMER VALOR EL MINIMO QUE TENDRA, EL SEGUNDO EL VALOR IDEAL, Y EL TERCERO EL VALOR MAXIMO*/




}

h1 {
    font-size: 2.2em;
    margin-bottom: 0;

}