body {
    margin: 0;
    font-family: sans-serif;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #f00;
    margin: auto;
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    transition-property: color, background-color;
    transition-duration: 1s;
    transition-delay: 2s;
}

.box:hover {
    background-color: blue;
    color: #fff;
    
}
