* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    --bg-color:#48e;
    --text-color:#333;
    --dark-color:rgb(22, 73, 150);
    --faq-color:#fff;


}

body,div,ul,li,a,h1,h2,h3,h4,p {

    margin: 0;
    padding: 0;

}

body {
    background-color: var(--bg-color);
}

.faq {
   
  
    margin: auto;
}

details {
    background-color: var(--faq-color);
    margin: 7px;
    padding: 7px;
    max-height: 34px;
    transition: max-height 2s;
    overflow: hidden;

}

details[open] {
    max-height: 400px;
   
}

details[open] .content {
    animation: aparecer 1s .3s both;
}


.content {
    padding: 5px 10px;
    
    margin: 10px;
    margin-bottom: 5px;
    
    font-size: .8rem;
    color: var(--text-color);
}

summary {
    user-select: none;
    position: relative;
  
   
}

summary::marker {
    content: '';
    
}

summary::before {
    content: '+';
    color: #48e;
    position: absolute;
    right: 0;
    bottom: 0.25px;
    font-weight: 900;
   
}

details[open] summary::before {
    content: '-';
}

details b {
    background-color: var(--dark-color);
    color: #fff;
    padding: 2px 4px;
    margin-right: 4px;
}

        @keyframes aparecer {
            from {
        opacity: 0;
        translate: 0 -20px;
        border-top: 1px solid transparent;
            }
            50% {
                border-top: 1px solid transparent;
            }
            to {
        opacity: 1;
        translate: 0 0;
        border-top: 1px solid var(--bg-color) ;
            }
        }

@media  screen and (min-width:600px) {
    .faq {
        max-width: clamp(300px,100%,700px);
    }
    
}