* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: sans-serif;
    background-color: #fff;

}

.box {
    
    max-width: 100%;
    /* clip-path: circle(30% at 30% 30%);GENERA UNA CIRCUNFERENCIA DEL 30% DEL TAMAÑO DE LA CAJA. O SEA DESDE UN PUNTO (POSICIONADO EN ESTE CASO 30% SOBRE X Y 30% SOBRE Y "at 30% 30%" que tambien puede ser una distancia en px) MIDE EL 30% DEL TAMAÑO DE LA MISMA Y CREA UNA CIRCUNFERENCIA  */
    clip-path: ellipse(30% 50% at 50% 50%);/*ESTE VALOR DE CLIP PATH GENERA UN ELLIPSE, A DIFERENCIA DEL CIRCLE HAY QUE PASARLE PRIMERO LAS DOS MEDIDAS DE TAMAÑO DESDE EL PUNTO CENTRAL Y LUEGO LA POSICION DE ESE PUNTO CENTRAL DENTRO DE LA CAJA*/

    /*LO QUE SE USA PARA ESTA PROPIEDAD DE ESTILO SON LOS GENERADORES DE CLIP PATHS QUE HAY EN LA WEB, SON PAGINAS DONDE PODEMOS OBTENER EL CODIGO YA HECHO DE LA FORMA QUE QUERAMOS HACER*/
    
}