
/*LA HERENCIA SON LAS PROPIEDADES QUE LOS ELEMENTOS HIJOS VAN A HEREDAR DEL ELEMENTO PADRE.EN ESTE CASO DE EJEMPLO, AL DARLE UNA PROPIEDAD A BODY QUE ES PADRE DE H1 Y H2 , ESTOS DOS HEREDARAN ESAS PROPIEDADES, HASTA QUE LE DEMOS PROPIEDADES PROPIAS A CADA ELEMENTO.
NO TODAS LAS PROPIEDADES QUE LE DAMOS A UN ELEMENTO LAS VAN A HEREDAR LOS HIJOS!!!!
LAS PROPIEDADES QUE SI SE HEREDAN SON GENERALMENTE LAS DE TEXTO(color, font family, text align etc) MIENTRAS QUE LAS QUE DETERMINAN LA FORMA DE LAS ETIQUETAS(PADDING, BORDER, MARGIN ETC) NO SE HEREDAN PORQUE CAUSARIAN PROBLEMAS
*/



body {
    color: brown;
    font-family: sans-serif;
}

div {
    color: blue;
}

h1 {
    color:inherit;/*EN ESTE CASO EL COLOR LO HEREDA DE BODY.
    SI DEFINIESEMOS EL VALOR COMO "INITIAL" LA ETIQUETA BUSCARIA EL VALOR QUE TIENE EL BUSCADOR POR DEFECTO. TAMBIEN PODRIA SER "UNSET" QUE LO QUE HACE ES RESETEAR EL COLOR A INHERIT SI ESTE ERA EL VALOR INICIAL SINO LO DEJA EN INITIAL.
    DESPUES ESTA EL VALOR "REVERT" QUE LO QUE HACE ES BUSCAR SI EL USUARIO LE HABIA DADO ALGUN VALOR A ESE ATRIBUTO Y LO REVIERTE A ESE VALOR, SINO LO DELA EN INHERIT*/
}

h2 {
    color:inherit;/*EL H2 HEREDA DE DIV PORQUE ES HIJO DIRECTO Y DIV TIENE UN COLOR , SI DIV NO TUVIESE UN COLOR DETERMINADO, HEREDARIA DE BODY QUE ES EL ABUELO*/
}

/*DARLE VALOR INHERIT A UNA PROPIEDAD DE UN ELEMENTO NOS SIRVE CUANDO ESE ELEMENTO POSEE VALORES POR DEFECTO Y POR LO TANTO NO HEREDA AUTOMATICAMENTE DEL ELEMENTO QUE LO CONTIENE , POR EJEMPLO EL INPUT Y EL TEXT AREA TIENEN POR DEFECTO FONT FAMILY SANS SERIF, Y SI LE DAMOS OTRA TIPOGRAFIA AL ELEMENTO QUE CONTIENE A ESTOS, NO LA VAN A HEREDAR SALVO QUE LE ESPECIFIQUEMOS QUE EL VALOR SERA INHERIT
*/




