* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.box {
    font-size: 30px;
    padding: 0 40px;
    border: 6px solid #000;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;/*ESTA PROPIEDAD AFECTA LA VELOCIDAD A LA CUAL SE DESLIZA EL SCROLL, CUANDO CLICKEAMOS EN ALGUN ENLACE Y NOS DESPLAZAMOS POR LA PANTALLA, NO AFECTA LA VELOCIDAD DEL SCROLL CUANDO LO DESLIZAMOS MANUALMENTE*/

    scrollbar-color: #48e #fff;/*PODEMOS CAMBIAR LA COMBINACION DE COLORES DE LA BARRA DE SCROLL PASANDOLE A ESTA PROPIEDAD DOS PARAMETROS , EL PRIMERO PARA LA BARRA MOVIL INTERNA DEL SCROLL Y EL SEGUNDO PARA EL FONDO DE LA BARRA
    ES IMPORTANTE QUE LOS COLORES CONTRASTEN PARA QUE LA PAGINA SEA ACCESIBLE PARA PERSONAS CON PROBLEMAS DE VISION*/

    scrollbar-width: thin;/*TENEMOS 3 VALORES PARA EL ANCHO DEL SCROLL:
    AUTO(VALOR POR DEFECTO/BARRA NORMAL)
    THIN(BARRA MAS DELGADA)
    NONE(LA BARRA DESAPARECE Y DEBEMOS HACER EL SCROLL CON LA RUEDA DEL MOUSE O MANUALMENTE EN CASO DE SER PANTALLA TACTIL) */

}

.crecer {
    height: 200vh;
}