#titulo_prin {
    color: black;
}
.titulo {
    color: chartreuse;
}

h1 {
    color: red;
}

h1 {
    color: blue !important; /*AL USAR ESTA PALABRA RESERVADA LA PROPIEDAD DEFINIDA EN ESTE ELEMENTO SOBREESCRIBIRA A CUALQUIER OTRA QUE SE LE HAYA DADO EN CUALQUIER OTRA PARTE DEL PROGRAMA*/
  
}

/*LA ESPECIFICIDAD ES COMO LA PUNTUACION DE UN ESTILO, CUANDO LA ESPECIFICIDAD ES LA MISMA,SE APLICA EL CONCEPTO DE CASCADA Y  EL VALOR QUE TOMARA EL ATRIBUTO SERA EL ULTIMO DADO */

/*DARLE MAS ESPECIFICIDAD A UN ELEMENTO ES DARLE UNA CLASE O UN ID Y POR LO TANTO HACERLO MAS ESPECIFICO EN SU IDENTIFICACION POR EJEMPLO SI AHORA AL H1 LE DAMOS UNA CLASE Y LE MODIFICAMOS EL COLOR , EL ELEMENTO VA A TOMAR ESA PROPIEDAD Y POR LO TANTO LA CASCADA NO VA A APLICARSE YA QUE NO TIENEN EL MISMO NIVEL DE ESPECIFICIDAD
SI A LA ETIQUETA APARTE DE DARLE UNA CLASE LE DOY TAMBIEN UN ID LA ESTOY HACIENDO MAS ESPECIFICA TODAVIA, ASI QUE CSS UTILIZARA EL VALOR QUE LE DIMOS AL ELEMENTO CON ID Y LA CASCADA NO SERA TOMADA EN CUENTA*/
/*EN SINTESIS :
CUANDO CREAMOS UN ELEMENTO SI NO LE DAMOS UNA ESPECIFICIDAD , CSS DETERMINARA EL VALOR DE LOS ATRIBUTOS DEL MISMO SEGUN LA POSICION EN QUE SE ENCUENTREN, Y TOMARA EN CUENTA LOS ULTIMOS VALORES DADOS A SUS PROPIEDADES.
SI EN CAMBIO A ESE ELEMENTO LE ESPECIFICAMOS UNA IDENTIFICACION YA SEA POR CLASE, POR ID O POR AMBAS NO IMPORTARA LA POSICION DENTRO DE LA HOJA DE ESTILOS DONDE LE DEMOS ESOS PARAMETROS
LA ETIQUETA QUE VA A SOBREESCRIBIR A LA HOJA DE ESTILO, AL USUARIO Y AL NAVEGADOR VA A SER LA ETIQUETA <style>propiedad=valor</style>
ESTA ETIQUETA SE USA DIRECTAMENTE EN HTML DENTRO DEL BODY.SI SE RELACIONARA LA HOJA DE ESTILO DESPUES DE LA ETIQUETA STYLE, POR CASCADA SE IMPLEMENTARIAN LOS ESTILOS DEFINIDOS EN ESTA Y NO EN STYLE
CUANDO DECLARAMOS LAS PROPIEDADES DE UN ELEMENTO (class, id)  SE LE PUEDE DAR EL ATRIBUTO style="" Y ESTA SOBREESCRIBIRA A LAS OTRAS.
POR ULTIMO TENEMOS LA PALABRA RESERVADA !IMPORTANT
ES LA QUE MAYOR IMPORTANCIA TIENE DENTRO DE LA CASCADA Y ES LO MAS ESPECIFICO QUE PUEDE SER UN ELEMENTO*/

