<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LAYOUT</title>
</head>
<body>
    <header class="header">
        <div class="header__overlay">

        </div>
        <div class="header__item-container">
            <img src="goku.jpg" class="header__img">
            <h1>TITULO DE LA PAGINA</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quas quo explicabo minima ratione adipisci molestias quae labore corrupti, consectetur veritatis officiis ipsa itaque rem perspiciatis? Quo quam nostrum laboriosam.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, quia sit? Maiores similique unde voluptatibus, consequatur, iure perferendis doloribus, assumenda reiciendis architecto autem aut impedit eligendi ducimus iste earum nisi.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur amet quas mollitia numquam molestiae minima dolorum laudantium nihil facere ab perferendis a ducimus non doloremque veritatis maiores, dolorem consectetur nobis!
            </p>
        </div>

    </header>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav__ul">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link link-login">Log In</a></li>
            </ul>  
        </div>
        <div class="nav__logo-container">
            <img src="rebanada.png" class="nav__logo">
        </div>

    </nav>
    <main>
        <div class="main__title">
            <h2>CONTENIDO DE LA PAGINA</h2>
        </div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est deleniti harum quod, culpa similique minima quam, voluptatibus dolorem excepturi ex, delectus voluptates minus nostrum possimus. Quod facilis asperiores quibusdam rem!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum aliquam amet debitis ratione sint. Id, nobis ex officiis, laborum ducimus voluptatibus nostrum accusamus expedita, amet nisi eligendi totam labore quia?
    </main>
    
</body>
</html>