/*SIEMPRE VA A CONVENIR QUE LOS ELEMENTOS TENGAN UNA CLASE ESPECIFICA CUYA DENOMINACION ESTE RELACIONADA CON EL TIPO DE ELEMENTO QUE ES Y NO CON  LO QUE CONTIENE, POR EJEMPLO SI EL ELEMENTO ES UN UL COMO EN ESTE CASO,
 EL NOMBRE DE LA CLASE QUE LE VAMOS A ASIGNAR DEBERIA SER LIST O LISTA.
DE LA MISMA MANERA LOS ELEMENTOS LI QUE CONTENGA ESTE UL 
DEBERIAN PERTENECER A UNA CLASE LLAMADA LISTA__ITEM O LIST__ITEM (NOTESE LOS DOS GUIONES BAJOS) SI DENTRO DE ESTOS ITEMS VAN A HABER ALGUNOS QUE TENGAN CARACTERISTICAS PROPIAS,DEBEMOS IDENTIFICARLOS CON UNA SEGUNDA CLASE QUE VA A SER LA CLASE MODIFICADORA.
ESTA SEGUNDA CLASE CONVIENE QUE SE IDENTIQUE COMO ITEM--"(particularidad del item)"*/

/*PRIMERO DEFINIMOS LAS PROPIEDADES DE LA LISTA*/
.lista{
    border:2px solid #000;

}
/*LUEGO DEFINIMOS LAS PROPIEDADES GENERALES DE LOS ITEMS DE ESA LISTA*/
.lista__item{
    color: grey;
    margin: 10px 0;
    list-style: square;
}

/*POR ULTIMO DEFINIMOS LAS PROPIEDADES PARTICULARES DE LOS ITEMS DE ESA LISTA QUE QUERAMOS DIFERENCIAR*/
.item--dañino{
    color: red;
}

.item--importante{
    color: blue;
}

/*LO QUE MAS CONVIENE AL HACER UNA PAGINA ES TOMAR ESOS BLOQUES QUE CONTIENEN LOS ELEMENTOS, DARLE UN ESTILO GENERAL Y SI DESPUES NECESITAMOS MODIFICAR ALGUN ELEMENTO HACERLO DE MANERA PUNTUAL. TAMBIEN LA CLASE MODIFICADORA SE LA PODEMOS DAR AL BLOQUE EN SI, POR EJEMPLO EN ESTE CASO SI TENEMOS VARIAS LISTAS, TOMAMOS COMO BASE LA PRIMERA LISTA Y LE AGREGAMOS UNA CLASE MODIFICADORA */

.lista--vieja{
    opacity: 0.3;
    background-color:#ddd;
}